@import url('https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap');
@import url('//cdn.jsdelivr.net/gh/neodgm/neodgm-webfont@1.600/neodgm/style.css');

body {
  background-color: #faf1d6;
}

#container {
  margin: 30px auto;
  width: 50%;
  background-color: white;
  padding: 30px 50px;
  border-radius: 5%;
}

h2 {
  display: inline-block;
  margin-bottom: 50px;
  font-family: 'Hi Melody', sans-serif;
  font-weight: 400;
}

small {
  margin-left: 50px;
  font-family: 'NeoDunggeunmo';
  text-align: right;
}

label {
  width: 70px;
  padding: 10px 10px;
}

input {
  width: 300px;
}

.block-box {
  display: block;
}
